/*  .add-margin {
margin:0 auto;
padding:3em;}*/
/*style navigation*/ 

.nav-image img{
  width:100%;
}
.nav-image{
  max-width:30%;
  margin-left:2em;
  margin-top:1em;}
.nav-list{max-width:50%;}
.button-nav{
  /*margin-right:50px;
  padding-top:20px;*/
  max-width:20%;
 display:flex;
  align-content:center;
  margin-left:-7em;
  margin-right:2em;

}
@media (max-width:900px)
{.nav-btn{
  margin-top:1em;
}
}
@media (min-width:901px)
{
  .nav-btn{
    margin-top:.7em;
  }
  .navigate{
    margin-bottom:0em !important;
  }
.second-section{
margin-top:-13em !important;}

}

.nav-btn button{
  border-radius:75px;
  background-color:#e7332b;
  color:white;
  width:140px;
  padding:.7em  .5em .7em 1.5em;
  border:none;
  vertical-align:middle;
  font-weight:bold;
}
  .thumb{
    background-color:#e7332b;
    border-radius:100px;
    padding:10px;
    width:60px;
    position:relative;
    z-index:5;
   }

.navigate{
  margin-bottom:11em !important;
}
.navigation{
  display:flex;
  top:0;
  position:fixed;
  width:100%;
  margin:16px;
  z-index:100;

}

.navbar-ul{
  list-style-type: none;
  margin-left:20px;
}

.navbar-ul li{
  display:inline-block;
  font-size:1.2rem;
  }

/*for larger screens*/
@media (min-width:1200px){
  .section11-ctn{
    background:url("https://training.zuri.team/circle.png") top left no-repeat;
    background-size:20%;
  }
.list-footer-div{
  display:flex;
  justify-content: flex-end !important;
  position: absolute;
  right:-1%;
  margin-right: 3em;

}
.footer-ctn1{
  display: flex;
  align-items: center;
}

.footer-ctn3{
  display: flex;
 flex-direction: row-reverse;
}

  .footer-ctn2-1{
    display:flex;
    justify-items: center;
  margin-right: 2em;

  }

  .end-para1{
    margin-right:1em;
  }
  .footer-ctn2{
    display:flex;
    justify-content: flex-start;
    position: absolute;
   left:-1%;
    margin-left:3em ;

  }

  /*section 11*/
  .section-eleven .head2{
    font-size: 3rem !important;
    margin-top: -2em !important;
  }
  .section-eleven{
    background: url("https://training.zuri.team/round.svg") top 60px left 150px ,url("https://training.zuri.team/bend1.svg") top right,url("https://training.zuri.team/mains.png") bottom right,url("https://training.zuri.team/curve2.svg") bottom left !important;
    background-repeat: no-repeat !important;
    background-size:12%, 10%,10%,10% !important;
    padding-bottom: 1em !important;
    padding-top: 1.5em !important;
  }
  /*style section 10*/
  .section10{
    padding-top:2.5em;}
  .section10-btm{
    margin-bottom: 6em;
    margin-top:3em;

  }
 .scetion10-btm1{
   max-width: 10%;
   padding-top: 7em;
 }
  .btm-general{
max-width: 40%;
margin: 1em;}
.path2{
     display: flex !important;
    justify-content: center !important;
    margin: 0 auto 20px auto !important;}
  .top-section10-top{
    display: flex;
    justify-content: center;
   align-content:center;
  }

  .top-section9-top-first{
     position: relative;
     top:-7px;
     left:-60px;
    
  }

  .top-section9-top-third{
    position: relative;
    top:95px;
    left:300px
   
    
  }

  .top-section9-top-third img{
    width: 70%;
  }
  /*style section 9*/
  .section9foot{
    margin-top:-2em;
    padding-bottom:3em
    margin-bottom:3em;
    display: flex;
    justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgba(0,0,0,.7) !important;
   border-bottom-width:90%;
  }

  .para-foot1{
    margin-right: 1em !important;
    
  }
  .nineth-section{
    margin: 5em 5em 5em 1em!important;
    padding-top:2em;
    padding-bottom:4em;
    border:none;
  }
  .para{
    font-size: 1.2rem !important;
  }
.top-img9{
  display: flex;
  align-items: center;
  margin-left: 1em !important;
  margin-top: 2em !important;
  
}
  .center9{
    margin-top:-2em !important;
    margin-inline: -1em !important;
margin-bottom: -4em !important;
  }

  .top-img9 img{
  max-width: 100px;
  }
 /*style sextion 8*/
.eighth-section{
  border-bottom: 1px solid rgba(0,0,0,.7);
  border-bottom-width:90%;
  padding-bottom:1px !important;
  padding-top:3em;
}
.buttondiv{
    margin-bottom: 0em !important;
  }
.eightctn{
  margin-bottom: 5em;
}
  hr{
    display: none;
  }
  
.eighth-section .head2{
  text-align: left;
  font-size: 2.2rem;
  display: inline-block;
  max-width: 400px;
}
  .ul-flex{
    margin-bottom:0.9em !important;
    margin-top:-1em !important;
  }
  .eight{
    margin: 1.5%;
    padding-bottom: .7em !important;
    padding-top: 1em !important;
    max-width: 30%;
  }
  .para8{
    display: inline-block;
    max-width: 300px;
    font-size: 1.1rem;
  }
  .eighth-section .head3{
    font-size: 1.3rem;
  }
  .img-section8{
    display: flex; 
    justify-content: center;
    margin-left: -6em;
  }
.img-section8 img{
  width: 20%;
}
/*style section 7*/
  .seventh-section1-top-img{
    display:flex;
    justify-content:flex-end;
    margin-right:5em;
  }

.wire-image7{
  width:20%;
}

.seventh-section1{
  max-width: 500px;
}
.seventh-section2{
  max-width: 500px;
}
.btnsection5{
  background-color: white;
  color: #e7332b;
 padding:8px 16px 8px 16px !important;
  font-size:1.2rem !important;
  border-radius:2em;
  border: none;
  margin-bottom: 2em;
  letter-spacing:0px !important;
}
.seventh-section .last-para{
font-size:1.2rem;}
.seventh-section{
  display:grid;
  grid-template-columns:1fr 1fr;}


.section7-img{
  width:1000px;
  height:500px;
             }
.seventh-section1{
  max-width: 50%;
  padding-left:3em;
    margin-bottom:6em;
  
}

/*fifth section*/

  .fifth-section{
    margin-bottom:2.5em;
  }
  /*fourth section*/
  .fourth-section-section2{
    margin-top:-4.5em;
  }
.fourth-section1 img{width:5%;}
.fourth-section1{
  margin-left: -15em;
  padding-top: 6em;
  margin-right: 3em;

}
  .fourth-section3-flex img{
    width:200px;
    height:200px;
  }
  .fourth-section{
    margin-top:-4em;
    }
.fourth-section2-flex{
  padding-left: 3em;
}
.fourth-section3-flex{
  padding: 8em;
}

 /*style third section*/
.third-section{
  border-bottom: 1px solid rgba(0,0,0,.2);
  border-bottom-width:60% ;
  padding-bottom: 0.5em !important;
}

  .third-section1{
    text-align: left;
    padding: 0;  }
  /*style second section*/  
  .wire1-size{
   width:40%;
 }

  .wire{
    display:flex;
    justify-content: flex-end;
    margin-right:2.9em;
  }
.second-section2 .pink-para{
  margin-bottom:.5em;
}

.image2{
    margin-left: 10.5em;
    margin-top:-3.8em;
  }

  .image1{
    margin-top:-8em;
    margin-left: -5em;}

.image1 img{width:80%;}
  .image2 img{width:60%;}
  .two-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttondiv{
    margin-top:-5em;
  }

  .buttondiv button{
    padding: .7em 1em !important;
  font-size:1.2rem !important;}

  .second-section1{
  margin-top: -20em;
}


.enroll{
  padding:.5em 1.5em .5em 1.5em;
}
  .para3{font-size:1.2rem ;}


  .second-section1{
    margin-left: 2em;
    margin-top:8em;
  }

.sect-last{margin-right: 2em;
margin-top: 9em;}


  .head-small{
    font-size: 2.5rem;
  }
  
  .second-section2{
  text-align: center;
  margin-top:-4em;
    padding-top: 9em;
  }

  .larger{
    width:900px !important;
  }
  
  .second-section{
    display:flex ; 
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    border-bottom:1px solid rgba(0,0,0,.3);
    padding-bottom:2em;
   border-bottom-width:60%;


  }

  .large{width:1000px;}
 
}


html, body {
  height: 100%;
  width: 100%;
  font-family:"Avenir Next" !important;
}

:root{
  --fs-bd:1rem;
  --fs-head1:1.5rem;
  --fs--head2:1.2rem;
  --fs--head3:1rem;

  --fw-normal:300;
  --fw-bold:900;

  --bs:2px 2px 1px white,
        1px 1px white;
}

@media (min-width:700px)
{
:root{
  --fs-bd:1.5rem;
  --fs-head1:3rem;
  --fs--head2:2.5rem;
  --fs--head3:1.8rem;
}
}

@media (max-width:950px){
  .nav-list{display: none;} 
.footer .end-para2{
  border-bottom:1px solid rgba(0,0,0,.4);
  padding-bottom:16px;
}
.footer .footer-ctn2{
  padding-top:16px;
  padding-bottom:16px;

}}


@media (min-width:1000px){
  .logo-zuri{
  width:50%;
}
}

.logo-zuri{
  width:35%;
}

.list1{
   padding:1.5em;
   }

@media (max-width:900px){
  /*seventh section*/
  /*.seventh-section1-bottom{
    display:grid !important;
    grid-template-columns:1fr 1fr !important;
  }*/
  /*style tenth section*/

  .move{display:none;}

  .path3{margin-bottom:4em;}
  
  /*style section 9*/
  .two-ctn{
    max-width:70%;
  }

  
  /*style section 8*/
.eight{
  margin:.7em .9em .9em .7em ;
}
  

/*style section 2*/

.wire1-size{
  width: 30%;
}

.wire{
  display:flex ;
  justify-content: center;
  margin-left: 8.5em;
  margin-bottom: 2.5em;
}

.image1,.sect-last{
  display: none;
}

.wrimg{
  width: 10%;
}

.image2{
  display: flex;
  justify-content: center;
  margin-top: -4em;
  margin-right: -10em;
  margin-bottom: 7em;
}

  /*style section 4*/

  .star{
    display: none;
  }
  
}

/*general style*/
.green{
  color:green !important;}

.head-tp,.head4-para,.head2{
  font-size: var(--fs--head2);
  font-weight: var(--fw-bold);
}

.white{
  color:white !important;
}

  .white{
  color:white;
}


hr{
  width: 90%;
  margin:3em auto;
  
}

img{
  display:block;
  max-width: 100%;
}
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: var(--fs-bd);
  line-height: 1.3;
  background-color:rgba(255,253,245,255)
 ; 
}

.pink-para,.pink-head{
  color:#e7332b;
  opacity:.9;
}

/*styling second section*/

.second-section2{
  margin: 0 auto;
text-align: center;

}

.para-div1{
  margin-bottom: .6em;
}

.para-div2{
  font-size: var(--fs-head1);
  font-weight: var(--fw-bold);
  margin-left: .7em;
  margin-right: .7em;
}

.para-div3{
  line-height: 1.5em;
  letter-spacing: 2px;
  color:rgba(0,0,0,0.8);
}
.buttondiv button{
  letter-spacing: 4.2px;
  padding: 1em;
  border-radius: 1.9em;
  border: none;
  margin: 4em auto;
  background: #e7332b;
  color: white;
  font-size:var(--fs--head3) ;
}

/*style third section*/

.third-section .third-img{
  height: 100%;
}
.third-section{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin:0 auto;

}
.third-section1,.third-section2,.third-section3{
  margin-left: 1.4em;
  margin-right: 1.4em;
  margin-top:2em;
  margin-bottom: 2em;
 display:inline-block;
  max-width: 300px;

}

.third-section-para{
  line-height: 1.5;
  color:rgba(0,0,0,0.8)
}

/*style fourth section*/

.wire3-img{
  width: 15%;
}

.fourth-section{
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 4em;

}


.fourth-section1{
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
}

.fourth-section-section2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.fourth-section3-flex{
  display:flex;
  justify-content: center;
}

.star{
  width:50%;
  height:60%;
}


.fourth-section2-flex,.fourth-section3-flex{
  max-width: 500px;
}

/*style fifth section*/

  .fifth-section{    background:rgba(254,231,227,255) !important;
padding:.4em;
    display: flex;
    flex-wrap: wrap;
  }

.two{
  margin:2em 0;
  padding:4em 0;
}

.fifth-section1{
  background-color:rgba(231,51,43,255) !important;
  background:url("https://training.zuri.team/curve1.png") top right no-repeat;
  background-size:30%;
}

.section-center{
  padding-left:2em;
  margin-top: -2em;
  margin-right: 3em;

}

.two{
  margin:2em .9em;
  border-radius:2em;
  max-width: 350px; 
}

.para-high{
  font-size:2.2rem !important;
  margin-top: -.9em;
  margin-right: 1em;
}

.number{
  font-size:3rem;
  font-weight:var(--fw-bold);
  letter-spacing:3;
  margin-bottom:1em;
  margin-top:16px;
}

.fifth-sectionh2{
  font-size:1.5rem;
  font-weight:800;
  margin-bottom:.9em;
}

.bottom{
  margin-bottom:0em;
  line-height:1.5;
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  

}

.fifth-section6{
  margin-bottom:-.1em; 
}

.fifth-section2,.fifth-section3,.fifth-section4,.fifth-section5,.fifth-section6{
  background:white;
}
.fifth-section2{
 background-color:white !important; background:url("https://training.zuri.team/curve.svg") top right no-repeat;
  background-size:30%;
}
.fifth-section3{
 background-color:white !important; background:url("https://training.zuri.team/curve3.svg") top right no-repeat;
  background-size:30%;
}
.fifth-section4{
 background-color:white !important; background:url("https://training.zuri.team/curve4.svg") top right no-repeat;
  background-size:30%;
}

.fifth-section5{
 background-color:white !important; background:url("https://training.zuri.team/curve5.svg") top right no-repeat;
  background-size:30%;
}

.fifth-section6{
 background-color:white !important; background:url("https://training.zuri.team/curve6.svg") top right no-repeat;
  background-size:30%;
  padding-bottom:-2em !important;
}


/*style seventh section*/

.seventh-section1-bottom{
display: flex;
flex-wrap:wrap;
align-items:content;
/*margin-left:-16px !important;*/}
  

.seventh-section2{
  
  padding-bottom: 4em;

}

.seventh-section{
  background: url("https://training.zuri.team/dotsection5.svg");
background-position: bottom 2em left 2em;
  background-size: 10%;
  background-repeat: no-repeat;
  background-color: #e7332b !important;
  margin:7.5em 0 3em 0;
  padding:1.5em;
  display:flex;
  flex-wrap:wrap;
}

  .margin0{
    margin-bottom:1.5em;
  }

.last-para{
  line-height: 1.2;
  margin-bottom: 2em;
}

.btnsection5{
  background-color: white;
  color: #e7332b;
  padding: 1em;
  border-radius:3em;
  letter-spacing: 4px;
  border: none;
  margin-bottom: 2em;
 font-weight: 400;
  font-size: 1em;
}

.fun,.except{
  border-radius:2.5em ;
  border: 2px solid white;
  display: flex;
  align-items: center;
  /*margin: 2em  1.5em;*/
  background-color: inherit;
}

.fun{
  padding:1em .8em;
  max-width:140px;
}

.except{
  padding:1em .5em 1em .9em ;
  max-width:140px;
  /*margin-bottom:10em;*/
  font-size:.8rem;
 
}

.fun p,.except p{
  /*margin-left:.2em;*/
}

.fun img,.except img{
  width: 20%;
}

.inline{
  display: inline;
}

.border,.border4{
  max-width:50%;
}

.border + .border{
  margin-left:1em;
  margin-bottom:1em;
}
.border4 + .border4{
  margin-left:1em;
  margin-bottom:1em;
}

/*style eighth section*/
.eightctn{
  display:flex;
  flex-wrap:wrap;
}

.eighth-section{
  margin: 1em;
}

.section8-arrow{
  width: 40%;
}

.img-section8{
  display: flex;
  justify-content: center;
  margin-top: 3em;
margin-bottom: 1em;
}
.eight + .eight{
  margin-left: 1%;
}


.eight {
  background-color: white;
  border-radius: 1em;
  padding: 3em;
  box-shadow:5px 5px 2px 1px lightpink;
  offset: 2;

}

.head3{
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1.5em;

}

.eight img{
  width: 75%;
}

.ul-flex{
  list-style-type: none;
  display: flex;
  margin-bottom: 3.5em;
}
.eighth-section .buttondiv{
  display: flex;
justify-content: center;
}

/*style nineth-section*/
.open{
 display:block;}

.margin-bottom{
  margin-bottom:4em;
}
.nineth-section {
  margin: .9em;
}

.center9{
  margin: 0 auto;
text-align: center;

}

.wire9{
  width: 25%;
}

.top-img9{
  margin-bottom: -1em;
  margin-right: -8em;
}

.bottom1{
  border: 1px solid rgba(0,0,0,.4);
}

.bottom1{
  display: flex;
}

.sign{
  position: absolute;
  right: 15%;
  display: flex !important;
  justify-content: flex-end !important;
  margin-left: .5em;
  /*margin-right: ;*/
 font-size:2em;
  
}

.two-ctn{
  margin: .9em;
}

.head3{
   font-size: .9rem;
   font-weight: 600;
  color: rgba(0,0,0,0.8);
}

.hide-para{
  display: none;
}

.last-sign{
display: flex;
justify-content: flex-end;
font-size: 2rem;
margin-left: 5em;
}

.section9foot{
  margin:0 auto;
  text-align: center;
}

.buttonsctn9foot{
  display: flex;
  align-items: center;
  justify-content: center;
}

.para-foot1{
  margin-top:2em;
  margin-bottom:.9em;
  color:rgba(0,0,0,.2);
}

.btntwitpara{
  border-radius:2.5em;
  letter-spacing:1;
  background:#e7332d;
  border:none;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: .9em;
}

 .component2 {
   margin-left: -15em;
 }

.component2 a{
  text-decoration: none;
}

/*style section 10*/

.part-time{
  background:url("https://training.zuri.team/time.png");
background-repeat: no-repeat;
  background-size: 30%;
  background-position: bottom 4em right 2.5em;

}

.full-time{
  background: url("https://training.zuri.team/hour.png");
background-repeat: no-repeat;
background-position: bottom 4em right 2em;
background-size: 20%;
  padding-right: 4em !important;



}
.top-section10-top{
  display: flex;
}

.section10{
  margin:2em;
}

 .img10-1,.img10-2{
  width: 40%;
}

.path{
  margin-bottom: .1em;
  font-size: 1.2em;
  color:#e7332b;
  text-align: center; 
  margin-left:-1.5em;
  margin-top:1.1em;
}

.path2{
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5em;
  margin-left:1em;
  text-align: center;
}

  .path3{
   text-align: center;
    margin-left: -1em;
 }

.top-section9-top-first{
  margin-right: -4em;
}

.top-section9-top-third{
 display: flex;
justify-content: flex-end;
  margin-top:-3em;
}

.btm-general{
  background-color:#1b1a20 ;
  color: #ffffff;
  margin-bottom: 2em;
  border-radius: 2em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 4em;
  padding-bottom:4em;
  box-shadow: 11px 11px 8px 8px  #fbe0d8
;
}

.head-bold{
  font-size: 2rem;
  font-weight: 700;
}

.margin-bottom10{
  margin-bottom: 1.5em;
}

.head-normal{
  font-weight: 800;
  font-size: 1rem;
}

.style-none{
  list-style-type: none;
}

.list-flex{
  display:flex;
  align-items:center;
  padding-right: 1.7em;
  list-style-type: decimal !important;
}

.list-flex img{
  width: 50%;
  margin: .5em;
}
.section10-btm{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: url("https://training.zuri.team/circle.png");
  background-position: bottom -45px right -40px;
background-repeat:no-repeat;
  background-size:15%;
}

/*style section11*/

.section-eleven{
    background-color:#e7332b !important;
    margin: 2em;
    border-radius: 2em;
    padding:4em;
    text-align:center;
    color:white;
    background: url("https://training.zuri.team/round.svg") top 20px left 30px,url("https://training.zuri.team/bend1.svg") top right,url("https://training.zuri.team/mains.png") bottom right,url("https://training.zuri.team/curve2.svg") bottom left;
   background-repeat: no-repeat;
   background-size: 25%;
}

.section-eleven button{
  padding:1em;
  border-radius:2em;
  letter-spacing:3;
  background-color:white;
  border:none;
  margin-top: 2em;
 font-size:1rem;


}

.section-eleven button a{
  color:#e7332b;
  text-decoration:none;
}

/*style footer*/

.footer{
  margin-top:3em;
  text-align: center;
  background:white !important;
}

.footer logo-imgfooter{
  width:100%;
  color: inherit;
}

.ingressive-img{
  margin: 2em;}

.footer-list{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-list-item{
  padding:.5em;
}

/*.margin-bottom102{
  margin-bottom: .1em;
}*/

.footer-ctn2{
  text-align: center;
  display:fex;
align-items: center;
 /* margin-top:em ;*/
  margin-bottom:3em;

}

.footer hr{
  margin-bottom:2em !important;
  margin-top: 2em !important;
}

